<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
">
    <context:annotation-config />
    <context:component-scan base-package="com.yao.music">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" 
        p:jtaDataSource="music-datasource"
        p:jpaDialect-ref="jpaDialect"
        p:persistenceUnitName="MusicYaoPU"
        p:persistenceProvider-ref="jpaProvider"
        p:jpaVendorAdapter-ref="jpaVenderAdapter"
        p:loadTimeWeaver-ref="loadTimeWeaver" 
        p:jpaProperties-ref="jpaProperties" />
    <bean id="jpaVenderAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
    <bean id="jpaProvider" class="org.hibernate.ejb.HibernatePersistence"></bean>
    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
    <bean id="loadTimeWeaver" class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"></bean>
    <util:properties id="jpaProperties">
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
        <prop key="hibernate.hbm2ddl.auto">update</prop>
    </util:properties>
    <tx:annotation-driven />
    <tx:jta-transaction-manager />
</beans>
